{
  "presets": [
    [ "@babel/env", { "modules": false } ],
    "@babel/stage-3",
    "@babel/react"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
