.Contact {
  text-align: center;
}

.Contact-logo {
  animation: Contact-logo-spin infinite 20s linear;
  height: 80px;
}

.Contact-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Contact-intro {
  font-size: large;
}

@keyframes Contact-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
